body {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0px;
    padding:0;
    height:100%;}

.header {
    /*background-color: dimgray;*/
    background-color: #800000;
        height: 10vh;}

.content {
    min-height: calc(100vh - 90px); /*Places footer at bottom*/
    padding-bottom: 200px;
    }

.footer {
    
    background-color: dimgray; 
    }

h1 {
    font-family: 'Pacifico', cursive;
    color: #f1f0cf;
    margin: 0px 16px;
    padding-top: 10px;
    }

.contentimage, .contentimagesmall {
    width: 100%
}

@media screen and (max-width: 726px) {
    .contentimage {display: none}
}
@media screen and (min-width: 726px) {
    .contentimagesmall {display: none}
}


.header a {
    text-decoration: none;}  /*Remove link styling on logo*/

th, td {
    font-size: 20px;
    padding: 10px;⁄
    padding-left: 10px;
    text-align: left;
}

p, table, form, ul {font-family: 'Arial', sans-serif; 
            padding: 0px 16px 0px 16px;
        }
h2, h3{font-family: 'Saira Stencil One', cursive; 
            padding: 0px 16px 0px 16px;
        }

.about li {
    margin-left: 16px;
}

.checkmark {
    font-size: 20px;
    margin-right: 5px;
    color: #1d0d80;
    text-decoration: none;
}
.usp {
    font-size: 20px;
    margin-left: 0
}

/*--------------map-------------------*/

.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 16px;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*--------------form--------------------*/

/* Style inputs, select elements and textareas */

input[type=text], input[type=tel], input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 0px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #800000;
    color: #f1f0cf;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    font-size: 16px;
    -webkit-appearance: none; /* Safari */
    font-family: 'Open Sans', sans-serif; font-weight: 600;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 10px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 660px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 660px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10;
      
  }
}

/*-------Menu styling-------*/
ul.topnav {font-family: 'Open Sans', sans-serif; 
            font-weight: 600;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #f1f0cf;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #1d0d80;}

ul.topnav li a.active {background-color: #800000;}

ul.topnav li.right {float: right;}

/* Responsive layout - when the screen is less than 726px wide, the menu items stack on top of each other instead of next to each other */
@media screen and (max-width: 726px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/*-------------Button on starter page-------------*/



.button {
  font-family: 'Open Sans', sans-serif; font-weight: 600;    
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #800000; 
  color: #f1f0cf; 
  border: 2px solid #800000;
}

.button1:hover {
  background-color: white;
  color: black;
}

/*----------social links in footer-----------*/

.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    margin: auto
}

ul.social li {
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
    font-size: 40px;
    padding: 10px 10px;
    color: white;
    border-radius: 50%;
}


/*Thanks to w3schools.com and ource ostraining.com for some of the code*/